<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum asperiores
        laborum obcaecati magni voluptas at ut quisquam sit, numquam omnis, quam
        commodi sapiente nihil dolorem libero rerum accusantium itaque! Maiores.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum asperiores
        laborum obcaecati magni voluptas at ut quisquam sit, numquam omnis, quam
        commodi sapiente nihil dolorem libero rerum accusantium itaque! Maiores.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum asperiores
        laborum obcaecati magni voluptas at ut quisquam sit, numquam omnis, quam
        commodi sapiente nihil dolorem libero rerum accusantium itaque! Maiores.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
